.container{
    background-color: rgb(224, 10, 10);
    width: 900px;
}
img{
   width: 900px; 

}
.nav{
    background-color:rgb(255, 255, 0);
    padding: 1rem;
    }

.nav-item{
    color: rgb(0, 0, 0);
    padding: 0.8rem;
    font-weight: bold;
    text-decoration: none; 
}

main{
    color: #fff;
}

footer p{
    color: #fff;
    text-align: center;
}
.itatxt{
    font-style: bold;
}